.container {
	position: absolute;
	height: 1080px;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}

.top {
	height: 200px;
	width: 1920px;
	position: relative;
}

.left {
	width: 70%;
	height: 930px;
	float: left;
}

.right {
	width: 30%;
	height: 930px;
	float: left;
}

.bottom {
	height: 150px;
	width: 1920px;
	position: relative;	
	float: left;
	top: -60px;
}


.blacksquare {
	width: 350px;
	height: 250px;
	background: black;
	position: absolute;
	top: 18.5%;
	left: 12%;
}

.cyansquare {
	width: 1025px;
	height: 550px;
	background: #39F4E9;
	position: absolute;
	top: 200px;
}

.greensquare {
	width: 975px;
	height: 525px;
	background: #B2FF50;
	position: absolute;
	left: 35%;
	top: 25%;
}

.people {
	position: absolute;
	left: 32%;
	top: 220px;
}

.logo {
	position: absolute;
	top: 10%;
	left: 5%;
}

.menu {
	font-family: 'Roboto Mono', monospace;
	left: 60%;
	top: 25%;
	position: absolute;
	font-size: 26px;
	color: black;
	text-decoration: none;
}

.menu:visited {
	color: black;
}

.menu:hover {
	color: #39F4E9;
}

.mission {
	font-family: 'Roboto Mono', monospace;
	top: 400px;
	position: absolute;
	color: white;
	top: 21%;
	left: 13%;
	font-size: 20px;
}

.stat {
	font-family: 'Roboto Mono', monospace;
	position: absolute;
	top: 45%;
	left: 13%;
}

.action {
	font-family: 'Roboto Mono', monospace;
	position: absolute;
	top: 53%;
	left: 13%;
}

.donate {
	font-family: 'Roboto Mono', monospace;
	position: absolute;
	left: 13%;
	font-size: 24px;
	color: #39F4E9;
}

.findhelp {
	font-family: 'Roboto Mono', monospace;
	position: absolute;
	left: 43%;
	font-size: 24px;
	color: #39F4E9;
}

.resources {
	font-family: 'Roboto Mono', monospace;
	position: absolute;
	left: 78%;
	font-size: 24px;
	color: #39F4E9;
}




